.App {
  text-align: center;
}

.App-header {
  background-color: #8A2BE2;
  height: 50px;
  padding: 27px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

#container li {
  margin-bottom: 10px;
}



