.App {
  text-align: center;
}

.searchBar{
  margin-right: 1200px;
  margin-top: 400px;
  z-index: 1;
}

.App-header {
  background-color: #8A2BE2;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

#map-container{
  width: 75%;
  position: absolute;
  right: 0px;
}

#map{
  height: 100%;
}


#container li {
  margin-bottom: 10px;
}



