/*have a toggle for both the map and search containers
that will allow the map to take up 100% space or 75% and 
all the search bar to appear*/

#map-container{
  width: 75%;
  position: absolute;
  right: 0px;
}

#search-container{
  display: flex;
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0px;
  background-color: grey;
}

#map{
  display: flex;
  height: 100%;
}

#search-button{
	position: absolute;
	right: 0px;
  color: white;
}

#map-container-expand{
  width: 95%;
  position: absolute;
  right: 0px;
}

#search-container-shrink{
  width: 5%;
  height: 100%;
  position: absolute;
  left: 0px;
  background-color: grey;
}

li{
  padding: 4px;
}

.infoWindow{
  display: flex;
  flex-direction: column;
}

/*Small device screens*/
@media only screen and (max-width: 600px){
  #search-container{
   width: 35%;
  }
  #search-container-shrink{
    width: 10.2%;
  }
  #search-button{
  right: -6px;
 }
 .infoWindow{
  width: 200px;
  height: 330px;
 }
}

@media only screen and (min-width: 768px){
 #map-container{
  height: 100%
 }
 #search-container-shrink{
    width: 11%;
  }
 #search-button{
  font-size: 1em;
 }
 li{
  font-size: 1.2em;
 }
}

